
p {
    font-family: sans-serif;
}

.fact {
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-top: 6px;
    padding-bottom: 6px; 
    text-align: center;
}
.paraOne
{
    font-size: large;
    padding-right: 75%;
    padding-left: 5%;
    color: black;
}

.titleOne
{
    font-size:50px;
    font-style:italic;
    text-align: center;
    color: black;
}
#ShovelRotate
{
    position:absolute;
    right: 43%;
    top: 140px;
    align-items: center;
}
#ShovelList
{
    font-size:large;
    padding-left: 10%;
    letter-spacing: 5px;
}
#squareShovel
{
    position:absolute;
    width:250px;
    right: 75px;

}
#pointyShovel
{
    position:absolute;
    right: 300px;
    width: 50;
}
#smallShovel
{
    position:absolute;
    right:500px;
    width:350px;
}
.titleTwo
{
    font-size:50px;
    font-style:italic;
    text-align: center;
    color: black;
}

.links
{
    position:absolute;
    margin-left: 1100px;
    top: 340px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #dad6d6;
 }

  .table
  {
      margin-top: 90px;
      margin-right: auto;
      margin-left:auto;

      font-size: x-large;
      border-top:3px solid grey;
      border-bottom:3px solid grey;

      word-spacing: 5px;
      text-align: center;
      width: 900px;
  }

  .TitleThree
  {
    font-size:50px;
    font-style:italic;
    text-align: center;
    color: black;
  }

  #hvr:hover
  {
      margin: auto;
  }